/* styles go here */

body {
  margin: 0;
}

.form-field {
  display: block;
  margin: 20px 10px;
  font: 1rem "Fira Sans", sans-serif;
}

legend {
  /* background-color: #000;
  color: #fff; */
  padding: 3px 6px;
  font: bold 1em sans-serif;
}

.output {
  font: 1rem "Fira Sans", sans-serif;
}

input {
  margin: 0;
}
